* 
{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
input[type = text], input[type=password] {
    width: 30%;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
  }
input[type=submit] {
    width: 10%;
    padding: 8px;
    margin: 8px;
    box-sizing: border-box;
}
input[type=checkbox] {
    margin: 8px;
}
.error-message{
    font-size: 13px;
    color: red;
}
.container{
    text-align: center;
    margin: 20px;
    padding: auto;
}
h1 {
    margin: 20px;
}
.form-input {
    border: 1px black;
}